.container {
  margin-top: 1rem;
  width: 100%;
}

.container p {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.form {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}